@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("http://fonts.cdnfonts.com/css/lato");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9 !important;
  position: relative;
}
body .aboutMLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 70%;
}
body footer img {
  padding: 20px;
}
body .logo img {
  height: 8rem;
}
body .showUlItems {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ec5242;
  position: fixed;
  padding-top: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 !important;
  overflow-y: hidden;
  z-index: 100;
}
body .showUlItems a {
  color: white !important;
  font-size: 20px;
}
body .show {
  display: flex !important;
}
body .hide {
  display: none;
}
body header {
  width: 100%;
  margin: auto;
}
body header .topNavContain {
  width: 80%;
  margin: auto;
}
body header .desktopNav {
  width: 90%;
  margin: auto;
}
body header .logo img {
  height: 4rem;
}
body header h3 {
  color: #ec5242;
  width: 80%;
  margin: auto;
  font-size: 20px;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 300;
  padding: 25px 0 10px 0;
}
body header h1 {
  color: #ec5242;
  font-weight: 700;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 30px;
  width: 80%;
  margin: auto;
}
body main {
  width: 90%;
  margin: auto;
}
body main .hero {
  background-image: url(../img/shape-set-01.png);
  background-size: 250px;
  background-position-y: 250px;
  background-repeat: no-repeat;
  padding: 2rem 1rem 7rem 1rem;
}
body main .hero .moment {
  background-color: #f7f7f7;
  width: 90%;
  margin: auto;
  border: solid 0.25rem white;
  font-family: "Lato", sans-serif;
}
body main .hero .date {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-top: 10px;
  width: 80%;
  margin: auto;
}
body main .hero .ejay {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 800;
  font-size: 17px;
  width: 80%;
  margin: auto;
}
body main .mainProgram {
  background-image: url(../img/download.svg);
  background-color: #272a31;
  padding: 25px 0;
}
body main .mainProgram button {
  width: 92%;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  color: white;
  padding: 24px 48px;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
body main .mainProgram .divider {
  width: 15%;
  margin: auto;
  height: 3px;
  background-color: #ec5242;
}
body main .mainProgram .Program {
  width: 95%;
  margin: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.0666666667);
  padding: 5px;
}
body main .mainProgram .speakers {
  width: 90%;
  margin: auto;
}
body main .mainProgram .speakers h4 {
  font-weight: 700;
  font-family: "COCOGOOSE", sans-serif;
}
body main .mainProgram .speakers h5 {
  font-family: "COCOGOOSE", sans-serif;
}
body main .mainProgram .speakers p {
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
body main .mainProgram .Program p {
  font-size: 16px;
  width: 60%;
}
body main .mainProgram .Program h2 {
  width: 30%;
  color: #ec5242;
  padding: 0 10px;
  font-size: 1.5rem;
  font-size: 17px;
}
body main .mainProgram .speakers img {
  width: 5%;
}
body main .mainProgram .Program img {
  height: 3rem;
}
body main .speakers .divider {
  width: 15%;
  margin: auto;
  height: 3px;
  background-color: #ec5242;
}
body footer .dividerFooter {
  width: 10%;
  margin: auto;
  height: 3px;
  background-color: #ec5242;
}
body footer .copyRight {
  display: flex;
  justify-content: center;
  gap: 90px;
}
body footer .footerIcons {
  background-color: #333;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
}
body footer .footerIcons .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 8px 0;
}

.aboutMain .aboutHero {
  background-image: url(../img/shape-set-01.png);
  background-size: 150px;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  padding: 4rem 1rem 1rem 1rem;
}
.aboutMain .aboutHero .bold {
  font-weight: 400;
}
.aboutMain .twentyThirteen {
  background: linear-gradient(rgba(100, 0, 10, 0.5), rgba(100, 0, 8, 0.5)), url(../img/Concert3.jpg);
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 765px) {
  .Program {
    height: 270px !important;
    padding: 0 !important;
    align-items: center;
  }
  .Program p {
    font-size: 16px;
    width: 100% !important;
    text-align: center;
  }
  .Program h2 {
    color: #ec5242;
    padding: 0 !important;
    font-size: 1.5rem;
    font-size: 17px;
    margin: 0 !important;
  }
  button {
    background: none !important;
    text-decoration: underline;
    font-size: 15px;
  }
  .dividerFooter {
    width: 8% !important;
    margin: auto;
  }
  .aboutfooterIcons {
    display: none;
  }
  .aboutFooter {
    margin: 20px;
    background-color: #272a31 !important;
    color: white;
  }
  .copyRight {
    padding: 0 !important;
  }
  .speakers {
    width: 90%;
    margin: auto;
  }
  .topNav {
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */